asgiref==3.6.0
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
autopep8==2.0.2
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
colorama==0.4.6
constantly==15.1.0
cryptography==40.0.1
daphne==4.0.0
distlib==0.3.6
Django==4.1.7
django-cors-headers==3.14.0
django-filter==23.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.11.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
Markdown==3.4.3
msgpack==1.0.5
mysql-connector-python==8.0.32
Pillow==9.5.0
platformdirs==3.2.0
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycodestyle==2.10.0
pycparser==2.21
pydub==0.25.1
PyJWT==2.6.0
pyOpenSSL==23.1.0
pytz==2023.3
redis==4.5.3
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2023.2
virtualenv==20.21.0
virtualenvwrapper-win==1.2.7
zope.interface==6.0
